# 2229022 통계학과 이승연

In [1]:
import numpy as np

# 1>

In [2]:
def my_function(mat):
    return mat - np.mean(mat, axis=1, keepdims=True)

- `np.mean` 함수를 사용해 row별 mean을 구하고, 원래 행렬에서 row mean 행렬을 빼는 방식으로 구현하였다.
    - `axis=1` 로 지정해 row별 mean을 구하였다.
    - `keepdims=True` 옵션을 통해 row의 차원을 유지하도록 했다. 원래 행렬에서 각 row의 mean을 빼야하기 때문에 차원을 유지하도록 했다.(옵션을 지정하지 않으면 각 row의 mean을 1차원 vector 형태로 출력한다.)

- numpy에서는 행렬끼리 뺄 때, 차원이 맞지 않아도 broadcasting하여 계산해주는 기능이 있다. 여기서 원래 행렬 mat(nxm)에서 row mean 행렬(nx1)을 뺄 때, row mean 행렬을 원래 행렬에 맞춰 broadcasting해서 뺀다.

In [3]:
A = np.array([[1,2,5,1], [3,4,1,0]])
my_function(A)

array([[-1.25, -0.25,  2.75, -1.25],
       [ 1.  ,  2.  , -1.  , -2.  ]])

# 2>

In [7]:
def my_function(mat):
    return mat - np.mean(mat, axis=0, keepdims=True)

- `np.mean` 함수를 사용해 column별 mean을 구하고 원래 행렬과 columns mean 행렬을 빼는 방식으로 구현했다. `axis=0`으로 지정해 column별 mean을 구하도록 했다. 나머지는 1>과 같다.

In [8]:
A = np.array([[1,2,5,1], [3,4,1,0]])
my_function(A)

array([[-1. , -1. ,  2. ,  0.5],
       [ 1. ,  1. , -2. , -0.5]])

# 3>

In [9]:
original1 = np.array([[4.5, 3.5],[5.1, 2.3]])
original2 = np.array([[1],[2]])

In [10]:
np.concatenate((original1, original2), axis=1)

array([[4.5, 3.5, 1. ],
       [5.1, 2.3, 2. ]])

 - `np.concatenate`함수를 사용하여 `axis=1`로 지정해 2차원의 두 행렬을 열방향으로 결합하였다.

# 4>

In [11]:
original1 = np.array([[4.5, 3.5],[5.1, 2.3]])
original2 = np.array([[4,3],[5,2],[1,1]])

In [12]:
np.concatenate((original1, original2), axis=0)

array([[4.5, 3.5],
       [5.1, 2.3],
       [4. , 3. ],
       [5. , 2. ],
       [1. , 1. ]])

- `np.concatenate`함수를 사용하여 `axis=0`으로 지정해 2차원의 두 행렬을 행방향으로 결합하였다.

# 5>

In [13]:
def my_function(row, col):
    A = np.zeros([row-2, col-2])
    A = np.pad(A, pad_width=1, mode='constant', constant_values=1)

    return A

- input: 만들 행렬의 row, col 개수
- `np.zeros`함수로 우선 가장자리 상하좌우 한 줄씩 뺀 (row-2, col-2)차원의 0 행렬을 만든다.
- `np.pad`함수로 가장자리 상하좌우에 '1'값을 추가한다.
    - `pad_width=1`: 가장자리에 1줄을 추가한다. (size 1의 패딩을 한다)
    - `mode='constant'`: 가장자리 상수 타입의 값을 패딩한다.
    - `constant_values=1`: 상수값 '1'을 패딩한다.

In [14]:
my_function(10,10)

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

# 6>

In [17]:
def my_function(lst, window_size):
    result = []
    for i in range(len(lst)-window_size+1):
        result.append(np.round(np.mean(lst[i:i+window_size]),3))

    return(result)

- input: lst(계산할 리스트), window_size(몇 개씩의 평균을 계산할 것인지)
- 우선 결과를 담을 리스트를 만들고, for문을 이용해 `(len(lst)-window\_size+1)`만큼 반복하면서 한 칸씩 이동하며 window_size만큼의 평균을 구하고 `.append`메서드를 이용해 결과 리스트에 값을 추가한다. `np.round`함수를 이용해 소수점은 3자리까지만 표시했다.

In [18]:
A = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
my_function(A, 3)

[5.0,
 4.667,
 5.667,
 6.667,
 9.667,
 28.667,
 49.333,
 72.667,
 84.0,
 93.333,
 116.333]

## (+) sample과 똑같이 출력하도록 한 함수

In [25]:
def my_function(lst, window_size):
    i_str = ' '.join([str(i) for i in range(len(lst)-window_size+1)]) # 반복 횟수 출력
    print(f"i {i_str}")
    print("= "*10)
    print("Input", lst) # input 리스트 출력

    for i in range(len(lst)-window_size+1):
        lst_str = ''
        temp = [str(lst[j]) for j in range(i, i+window_size)] # list complication으로 계산에 쓰인 원래 값들의 리스트 만들기
        lst_str = '+'.join(temp) # join 메서드로 각 리스트의 원소들을 '+'로 연결한 하나의 문자열 만들기
        print(f"y{i+1} {np.round(np.mean(lst[i:i+window_size]),3)} = ({lst_str})/{window_size}") # 계산한 평균과 식을 함께 출력

- 위와 계산하는 것은 같고, 결과와 식까지 sample과 같이 예쁘게 출력하는 함수이다..

In [21]:
A = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
my_function(A, 3)

i 0 1 2 3 4 5 6 7 8 9 10
= = = = = = = = = =
Input [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
y1 5.0 = (3+5+7)/3
y2 4.667 = (5+7+2)/3
y3 5.667 = (7+2+8)/3
y4 6.667 = (2+8+10)/3
y5 9.667 = (8+10+11)/3
y6 28.667 = (10+11+65)/3
y7 49.333 = (11+65+72)/3
y8 72.667 = (65+72+81)/3
y9 84.0 = (72+81+99)/3
y10 93.333 = (81+99+100)/3
y11 116.333 = (99+100+150)/3

# 7>

## a>

In [22]:
N = np.array([[0,1,0,1,2],
             [1,3,2,1,0],
             [0,0,0,1,3]])

Salary = np.array([[157,167,130,145,170],
                   [250,260,263,273,290],
                   [301,120,30,100,502]])

Sports = np.array([[1,1,1,1,1],
                   [0,0,0,0,0],
                   [0,0,0,0,0]])

- `np.array`로 주어진 행렬을 numpy array로 만들었다.

In [24]:
N # 값이 잘 들어갔는지 확인

array([[0, 1, 0, 1, 2],
       [1, 3, 2, 1, 0],
       [0, 0, 0, 1, 3]])

## b>

In [30]:
Y = np.array([[[  0, 157,   1],
            [  1, 167,   1],
            [  0, 130,   1],
            [  1, 145,   1],
            [  2, 170,   1]],

        [[  1, 250,   0],
            [  3, 260,   0],
            [  2, 263,   0],
            [  1, 273,   0],
            [  0, 290,   0]],

        [[  0, 301,   0],
            [  0, 120,   0],
            [  0,  30,   0],
            [  1, 100,   0],
            [  3, 502,   0]]])

- 문제에 주어진대로 첫 번째 차원에 id, 두 번째 차원에 year, 세 번째 차원에 순서대로 N, salary, sports car 정보를 표시하도록 3차원 array를 만들었다.

In [44]:
Y

array([[[  0, 157,   1],
        [  1, 167,   1],
        [  0, 130,   1],
        [  1, 145,   1],
        [  2, 170,   1]],

       [[  1, 250,   0],
        [  3, 260,   0],
        [  2, 263,   0],
        [  1, 273,   0],
        [  0, 290,   0]],

       [[  0, 301,   0],
        [  0, 120,   0],
        [  0,  30,   0],
        [  1, 100,   0],
        [  3, 502,   0]]])

In [43]:
# 출력해서 확인
print("[2-th id in the 2-th year]")
print(f"# of accidents: {Y[1,1,0]}\nsalary: {Y[1,1,1]}\nsports car: {Y[1,1,2]}")

[2-th id in the 2-th year]
# of accidents: 3
salary: 260
sports car: 0

## c>

In [36]:
Y = np.stack([N, Salary, Sports],axis=2)

- 원래 N, Salary, Sports 행렬의 row(첫 번째 차원)는 id, column(두 번째 차원)은 year을 표현하고 있었기 때문에, `np.stack` 함수를 사용해 이들을 세 번째 차원으로 join했다.
- `np.stack`함수는 입력받은 행렬을 새로운 축으로 join한다. 몇 번째 축으로 join할지는 `axis` 옵션으로 지정한다.

In [37]:
Y

array([[[  0, 157,   1],
        [  1, 167,   1],
        [  0, 130,   1],
        [  1, 145,   1],
        [  2, 170,   1]],

       [[  1, 250,   0],
        [  3, 260,   0],
        [  2, 263,   0],
        [  1, 273,   0],
        [  0, 290,   0]],

       [[  0, 301,   0],
        [  0, 120,   0],
        [  0,  30,   0],
        [  1, 100,   0],
        [  3, 502,   0]]])

## d>

In [38]:
Y2 = np.array([[[  0,   1,   0,   1,   2],
            [157, 167, 130, 145, 170],
            [  1,   1,   1,   1,   1]],

        [[  1,   3,   2,   1,   0],
            [250, 260, 263, 273, 290],
            [  0,   0,   0,   0,   0]],

        [[  0,   0,   0,   1,   3],
            [301, 120,  30, 100, 502],
            [  0,   0,   0,   0,   0]]])

- 문제에 주어진대로 첫 번째 차원에 id, 두 번째 차원에 순서대로 N, salary, sports car 정보, 세 번째 차원에 year를 표시하도록 3차원 array를 만들었다.

In [47]:
Y2

array([[[  0,   1,   0,   1,   2],
        [157, 167, 130, 145, 170],
        [  1,   1,   1,   1,   1]],

       [[  1,   3,   2,   1,   0],
        [250, 260, 263, 273, 290],
        [  0,   0,   0,   0,   0]],

       [[  0,   0,   0,   1,   3],
        [301, 120,  30, 100, 502],
        [  0,   0,   0,   0,   0]]])

In [48]:
# 출력해서 확인
print("[2-th id in the 2-th year]")
print(f"# of accidents: {Y2[1,0,1]}\nsalary: {Y2[1,1,1]}\nsports car: {Y2[1,2,1]}")

[2-th id in the 2-th year]
# of accidents: 3
salary: 260
sports car: 0

## e>

In [49]:
Y2 = np.transpose(Y, (0,2,1))

- `np.transpose` 함수를 사용해, 아까 만들어둔 Y 행렬의 차원을 Y2처럼 바꿨다.
    - `(i,j,k)`로 입력하면, 첫 번째 차원에 원래 행렬의 i번째 차원이 들어가는 방식이다.

In [50]:
Y2

array([[[  0,   1,   0,   1,   2],
        [157, 167, 130, 145, 170],
        [  1,   1,   1,   1,   1]],

       [[  1,   3,   2,   1,   0],
        [250, 260, 263, 273, 290],
        [  0,   0,   0,   0,   0]],

       [[  0,   0,   0,   1,   3],
        [301, 120,  30, 100, 502],
        [  0,   0,   0,   0,   0]]])

## f>

In [51]:
Y2 = np.stack([N, Salary, Sports], axis=1)

- 원래 N, Salary, Sports 행렬의 row(첫 번째 차원)는 id, column(두 번째 차원)은 year을 표현하고 있었기 때문에, `np.stack` 함수를 사용해 이들을 두 번째 차원으로 join했다. 원래 두 번째 차원에 있던 year은 세 번째 차원으로 밀린다.

In [52]:
Y2

array([[[  0,   1,   0,   1,   2],
        [157, 167, 130, 145, 170],
        [  1,   1,   1,   1,   1]],

       [[  1,   3,   2,   1,   0],
        [250, 260, 263, 273, 290],
        [  0,   0,   0,   0,   0]],

       [[  0,   0,   0,   1,   3],
        [301, 120,  30, 100, 502],
        [  0,   0,   0,   0,   0]]])

[HW1 설명 영상](https://youtu.be/cpdUjgKEIMQ)
(소리가 작습니다)